
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
    <style type="text/less">

    </style>
</head>
<body>
    <h1>Oops! Something went wrong!</h1> 
</body>
</html>
